body {
 margin: 0;
  background-image: url(10.jpg);
  background-size:cover;

}



.nav{
	width:100%;
	background:#000033;
	height:100px;
	margin-top:0px;
	opacity:0.5;
}
ul {
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	margin-left: 669px;
}
li {
	float:left;
	margin-top:30px;
}
a{
	width:150px;
	color:white;
	display:block;
	text-decoration:none;
	font-size:20px;0
	text-align:center;
	padding:10px;
	border-radius:10px;
	font-family:Century Gothic;
	font-weight:bold;
}
a:hover{
	background:#669900;
	transition:0.6s;
}

.homeavo {
font-family:Arial;
margin: 0;
padding: 3% 6% 0% 45%;
font-size: 60px;
color:   white;
}
.mission {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 25px;
color:   #03f9c9;
}
.first {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 20px;
color:   #d2f6f4;
}
.image{
	
	margin: 5% 0% 0% 19.4%;
	
	height:40%;
	width:40%;
	
}
.here {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 20px;
color:   #d2f6f4;
}

.image1{
	
	margin: 5% 0% 0% 19.4%;
	
	height:40%;
	width:40%;
	
}
.we {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 20px;
color:   #d2f6f4;
}

.image2{
	
	margin: 5% 0% 0% 19.4%;
	height:40%;
	width:40%;
	
}
.image3{
	
	margin: 5% 0% 0% 19.4%;
	
	height:40%;
	width:40%;
	
}
.then {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 20px;
color:   #d2f6f4;
}
.image4{
	
	margin: 5% 0% 0% 19.4%;
	
	height:40%;
	width:40%;
	
}
.drop {
font-family:Arial;
margin: 0;
padding: 1% 6% 0% 3%;
font-size: 20px;
color:   #d2f6f4;
}
.image5{
	
	margin: 0% 0% 0% 19.4%;
	padding: 0%;
	
	height:40%;
	width:40%;
	
}
footer{
	width:100%;
	background-color: #2f262c;
	padding:1% 0%;
	
	
}
.received{
	font-family:Arial;
margin: 9px;
padding: 0% 3% 0% 36%;
font-size: 21px;
color:    #fefbfd;
}